@charset "UTF-8";


body {
  background-image: linear-gradient(to right, #D9AC84, #A6806A);
}


main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 7px 7px 14px #463024;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #035AA6;
  text-align: center;
  text-shadow: 1px 1px 02px #021b31;
}


h2 {
  color: #023059;
}

p {
  text-align: justify;
}